.container-fluid {
    min-height: 90vh;
    background: #eeeeee;
}

.col-xs-12.col-md-6.col-lg-4 {
    min-height: 30vh;
    padding: 15px;
}

.title {
    min-height: 10vh;
    padding-top: 1%;
    background: black;
    color: white;
}