<div >
    <div *ngIf="weather.isEmpty; else elseBlock">
        <div class="search-box" *ngIf="searchBar; else elseBlock">
            <form>
                <div class="form">
                    <input type="text" placeholder="Enter a city" name="city" class="form-control" [(ngModel)]="city">
                    <div class="buttons">
                        <button class="btn btn-primary" (click)="search()">Search</button>
                        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <ng-template #elseBlock>
            <button class="btn btn-dark btn-lg btn-block" (click)="add()">Add</button>
        </ng-template>
    </div>
    <ng-template #elseBlock>
        <div id='bg-image' [style.background]="'url(' + bgImg + ')'">
            <span>
                <h2>
                    {{ weather.location }}
                </h2>
                <h2>
                    {{ weather.temp }}&deg;C
                </h2>
                <h4>
                    {{ weather.desc }} <br>
                    Feels like: {{ weather.feelsLike }}&deg;C
                </h4>
            </span>
            <button id="edit-button" class="btn btn-primary" (click)="edit()">Edit</button>
       </div>
    </ng-template>
</div>
